<aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">
        <section class="site-overview sidebar-panel sidebar-panel-active">
            <div class="site-overview">
                <div class="sidebar-sticky sticky">
                    <div>
                        <div class="author__avatar">

                            <img itemprop="image" src="https://raw.githubusercontent.com/Yeefine/picBed/master/20210812214629.jpg" alt="Yeefine">
                        </div>
                        <div class="author__content">
                            <h3 class="author__name" itemprop="name">Yeefine</h3>
                            <p class="author__bio" itemprop="description">Work makes the workman.</p>
                        </div>

                        <div class="author__urls-wrapper">
                            <button class="btn btn--inverse">Follow</button>
                            <ul class="author__urls social-icons">
                                <li>
                                    <a href="https://github.com/Yeefine" target="_blank" title="GitHub">GitHub</a>
                                </li>
                                <li>
                                    <a href="https://github.com/Yeefine/BlogSystem" target="_blank" title="Solitude">Solitude</a>
                                </li>
                                <li>
                                    <a href="https://leetcode-cn.com/u/yeefine/" target="_blank"
                                       title="SpringCloud">LeetCode</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</aside>
