<footer class="footer">
    <div class="footer-inner">
        <div class="copyright" style="display: inline-block">&copy; 2017 &mdash; <span
                itemprop="copyrightYear">2021</span>
            <span class="author">Yeefine</span>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://github.com/Yeefine" target="_blank">Github</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://yeefine.github.io" target="_blank">Blog</a>
        </div>
    </div>
</footer>
