<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.blog.biz.mapper.CategoryMapper">
    <select id="findCategoryByArticleId" resultType="com.myproject.blog.biz.entity.SysCategory">
        select
            c.*
        from
            tb_article a,
            tb_category c,
            tb_article_category ac
        where
            a.id=ac.article_id
            and c.id=ac.category_id
            and a.id=#{id}
    </select>
</mapper>
